{#=====================================================
  Config partial
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    {% include 'partials/config.jinja'%}

{% endblock %}

